#HomePage{
  background-image: url(./pictures/blida_img1.jpg);
  background-blend-mode: darken;
  background-color: black;
  background-color: rgba(0,0,0,0.5);
  height: 900px;
  width: 100%;
}

.card {
  width: 18rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Increase size by 5% */
}

